[2016-03-29 09:45] eparejatobes opened #1 "Adding a database ID to the included sequences"
We need a concept of blast database, which includes its name (it will be passed as arg to `-title` in `makeblastdb`). Given that, we can easily add a reference to the db through

[code]

This way BLAST results will yield something like `00015CA37|lcl|era7bio.db.rna16S` as the value of `sseqid`.

[2016-04-06 18:45] laughedelic commented on #1
Some meeting notes:

### The format of the input

#### TSV input

Columns:
- hash-ID
- DB
- DB-local ID
- Tax ID
- RNA type
- Gene name

#### FASTA input

Sequences with the same hash-IDs in the same order, but without repetitions

### What we need to do
- first we filter only 16s (the Gene name column)
- each seq can have several taxa mappings
- some of them are unclassified
- we take the first o

[2016-04-07 19:52] laughedelic commented on #1
@eparejatobes I don't have push permissions in this repo.

[2016-04-07 20:36] eparejatobes commented on #1
Done

[2016-04-08 11:09] laughedelic commented on #1
@eparejatobes take a look at the code, please.

[2016-04-09 15:28] laughedelic commented on #1
This is ready. The generated files are in

[code]

the blast-specific files are in the `blastdb/` subfolder.

[2016-04-11 10:27] eparejatobes commented on #1
LGTM

[2016-04-11 10:33] eparejatobes opened #2 "Release 0.1.0"

[2016-04-11 14:57] eparejatobes commented on #2
This is waiting for era7 defaults 0.2.0

[2016-04-11 15:55] laughedelic opened #3 "Move general code to rna-central repo"
Everything except of the `src/.../rna16s.scala` file.

[2016-04-11 16:03] laughedelic opened #4 "Change the artifact name"
Better not to use dots in project names, because it's confusing: project name is with _dots_, but the published artifact ID is with _dashes_.

[2016-04-12 15:10] laughedelic commented on #4
would be also nice to change the repo name to the same `db-rna16s`, but I don't have access to the settings here.

[2016-04-14 20:35] laughedelic opened #5 "Add sequences that have rna16s mentioned in the FASTA header"

[2016-04-14 21:30] laughedelic commented on #5
This is done. The database is at the same place:

[code]

It became quite significantly bigger: 253 010 sequences.

[code]

[2016-04-14 21:36] laughedelic commented on #5
@eparejatobes do you want to check the result? If not, I'm going to merge it tomorrow and use in MG7.

[2016-04-14 21:37] eparejatobes commented on #5
LGTM

[2016-04-17 11:05] eparejatobes opened #6 "Taxonomy-aware filtering"
A significant amount of 16S sequences are lost with the current filter. As an example, this RNACentral entry

- http://rnacentral.org/rna/URS00005C321D/243230

has as header in the FASTA file

[code]

The sequences we are going to keep are those which

1. have rRNA in the `rna_type` field
2. their taxonomy assignment is a descendant of either Bacteria (tax id 2) or Archaea (tax id 2157)
3. are lon

[2016-04-17 22:39] laughedelic commented on #6
This is done. I put the check that uses Bio4j in the end as the most expensive (so if any of the previous conditions is not met, it won't touch the DB).

@eparejatobes review, please.

[2016-04-18 07:37] eparejatobes commented on #6
@laughedelic done, please re-review 83249f1, merge, release and launch! :hammer: :smiley:

[2016-04-18 12:58] laughedelic commented on #6
OK. I'm going to merge it.

[2016-04-18 16:18] laughedelic commented on #6
Done. 526 681 sequences after filtering.

[code]

One thing, the log has these lines:

[code]

This is a bit strange, because before I didn't see these messages. Probably it's just some new sequences. I've checked the 8615784 line:

So it has **X** at position 25..

@eparejatobes WDYT?

[2016-04-20 11:30] eparejatobes opened #7 "new taxa IDs to filter for descendants"
I'll be adding here taxa that I think should be filtered out (all their descendants) from the db; Please @rtobes check those with which you are OK
- [x] [unclassified bacteria](http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Undef&id=2323&lvl=3&keep=1&srchmode=1&unlock)
- [x] [unclassified bacteria (miscellaneous)](http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Undef&id=

[2016-04-20 11:38] rtobes commented on #7
OK

[2016-04-20 17:18] eparejatobes opened #8 "add more uninformative taxa IDs"

[2016-04-20 17:32] eparejatobes commented on #8
I also think that we should add a filter for taxa whose _parent_ is _named_ **environmental samples**

[2016-04-20 20:28] eparejatobes commented on #8
not just parent, ancestor qualifies too

[2016-04-20 20:52] eparejatobes commented on #8
done, merging

[2016-04-20 20:52] #7 closed, assigned to nobody

[2016-04-20 20:55] eparejatobes opened #9 "Release 0.3.0"

[2016-04-20 21:22] eparejatobes opened #10 "Filter out descendants of unclassified Bacteria"

[2016-04-20 21:28] eparejatobes opened #11 "Release 0.4.0"

[2016-04-20 21:56] eparejatobes opened #12 "prune all unclassified crap"

[2016-04-20 22:02] eparejatobes opened #13 "Release 0.5.0"

[2016-04-20 22:07] laughedelic commented on #13
# MOAR RELEASES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

![](http://i3.kym-cdn.com/photos/images/original/000/328/813/8d6.jpg)

[2016-04-20 22:08] eparejatobes commented on #13
I'm sorry but that will need to wait for 0.6.0

[2016-04-22 08:14] eparejatobes opened #14 "add a filter for dubious RNACentral sequences"

[2016-04-22 08:19] eparejatobes opened #15 "Release 0.6.0"

[2016-04-23 13:28] eparejatobes opened #16 "More dubious sequences"
- [URS00008E71FD](http://rnacentral.org/rna/URS00008E71FD) claims to be Staphylococcus sciuri, it is a Pseudomonas
- [URS000089CEEE](http://rnacentral.org/rna/URS000089CEEE) claims to be Bacillus sp. W4(2008), it is a Pseudomonas
- [URS0000974DB8](http://rnacentral.org/rna/URS0000974DB8) claims to be Pseudomonas sp. CL3.1, it is a Bacillus
- [URS00008E9E3B](http://rnacentral.org/rna/URS00008E9E3B)

[2016-04-23 19:20] eparejatobes opened #17 "Release 0.6.1"

[2016-04-24 16:12] eparejatobes opened #18 "Filter out Pseudomonas who sees herself as a Bordetella"

[2016-04-24 16:24] eparejatobes opened #19 "Release 0.6.2"

[2016-04-24 16:43] eparejatobes opened #20 "Investigate URS000036A08E"
It looks a bit weird to me.

[2016-04-24 17:05] rtobes commented on #20
Why?

[2016-04-24 18:09] eparejatobes commented on #20
I'm not sure if it's what it claims to be

[2016-04-24 20:07] rtobes commented on #20
These are the BLASTN results against bacteria at NCBI:

<img width="762" alt="screen shot 2016-04-24 at 22 07 05" src="https://cloud.githubusercontent.com/assets/833404/14770081/fbb761d6-0a68-11e6-865d-3f7d4327d5ab.png">

[2016-04-24 23:51] eparejatobes opened #21 "filter out URS00008A3994"

[2016-04-24 23:52] eparejatobes commented on #21
Same about URS00008898AD

[2016-04-25 13:32] eparejatobes opened #22 "Remove URS00008CD63B"
[URS00008CD63B](http://rnacentral.org/rna/URS00008CD63B) claims to be Lactobacilus plantarum, it is an Enterococcus.

[2016-04-25 14:32] eparejatobes opened #23 "Remove URS00008CCF2E"
It claims to be a *Candidatus Hepatobacter penaei*, it is a *Pseudomonas*.

[2016-04-26 12:56] eparejatobes opened #24 "URS0000215B45"
[URS0000215B45](http://rnacentral.org/rna/URS0000215B45) claims to be *Vibrio cholerae*, it is an *Enterococcus faecalis*.

[2016-04-26 13:47] eparejatobes opened #25 "increase BLAST word size"

[2016-04-26 13:48] #25 closed, assigned to nobody

[2016-05-09 12:25] laughedelic opened #26 "Filter out assignments covered by bigger sequences"
For each sequence filter out those assignments that appear in bigger sequences. This will make assignments more specific.

[2016-05-09 12:52] laughedelic opened #27 "Prepare MG7 pipeline for running on the DB"
Run MG7 on the DB excluding matches of the subject sequence with itself in the reference. Then compare results with the assignments in the DB and drop those that are less specific than the ones we got from the MG7 run.

- `s` — sequence
- `DB(s) = { a_i | i }` — taxonomic assignments for `s` in the DB
- `MG7(s) = lca({x, y, z})` — assignment from the MG7 run
- drop those `a_i`, which are less spec

[2016-05-09 12:58] laughedelic opened #28 "General filtering routine"
1. #26: for each seq drop assignments that are covered by a bigger seq
2. apply existing filters
3. #27: run MG7 on the DB and filter bad assignments
4. drop the seq-s for which LCA of their assignments yields something uninformative (i.e. doesn't pass filters from 2.)

@eparejatobes please, check this.

[2016-05-10 17:34] eparejatobes commented on #28
Fine, as I told you. :+1: LGTC

[2016-05-13 11:13] eparejatobes commented on #20
Thank you, closing

[2016-05-13 11:13] #20 closed, assigned to nobody

[2016-05-13 11:16] eparejatobes commented on #26
And output the subsumed sequences

[2016-05-13 11:16] eparejatobes commented on #28
We need _all_ discarded sequences as part of the output, including the relevant information (tax assignment, whatever)

[2016-05-23 18:48] laughedelic opened #29 "Release based on db.rnacentral v0.3.0"

[2016-05-24 13:40] laughedelic commented on #29
So I tried it with `r3.large` and `r3.2xlarge` instances with 40GB heap and it's still not enough. I think that the approach "let's launch a huge instance and do everything in memory" is a waste of resources. I'm going to rewrite filtering in some more optimal way.

[2016-05-24 15:46] eparejatobes commented on #29
@laughedelic all the r3.xyz are under 1$/h spot. That's a perfectly reasonable cost for making a release.

[2016-05-24 22:58] laughedelic commented on #29
The database is at `s3://resources.ohnosequences.com/era7bio/db.rna16s/0.7.0/`:
- `data/` contains filtered fasta and table
- `discarded/` contains discarded fasta and table
- `blastdb/` contains BLAST DB

It is strange though that the resulting table has more rows that the one from 0.6.4. Here are some rows that that I just discovered through `diff`:

[code]

[Here](https://gist.github.com/laughe

[2016-05-25 16:15] laughedelic commented on #29
Fixed the diff table (same link). In the end it has 1135 new lines 👍

[2016-05-28 16:22] eparejatobes commented on #26
what's the status of this?

[2016-05-28 18:55] laughedelic commented on #26
No much progress, but I'm going to work on this on Monday.

[2016-05-31 22:20] laughedelic commented on #26
😓  Sorry for the delay here, but this appeared to be more complicated than I expected. The difficulty is mostly caused by the requirement to collect both accepted _and discarded_ sequences/assignments.

I finished implementation, tomorrow I will document/refactor the code and run tests.

[2016-06-02 14:42] laughedelic commented on #26
This is done 👌 Here are some stats for each step:
- `filter1`: Filtering out unrelated sequences
  - results: `s3://resources.ohnosequences.com/era7bio/db.rna16s/0.8.0/filter1/`
  - 2,5-3 hours on `r3.2xlarge`
  - stats (FASTA sequences):
    - rejected: 9 022 570
    - accepted: 366 679
    - intersection: 3127
- `filter2`: Filtering out assignments contained in another ones
  - results: `s3://re

[2016-06-02 15:05] marina-manrique commented on #26
So we could say that the 16S db has 262 333 sequences, right?

[2016-06-02 15:08] laughedelic commented on #26
Exactly 👌

[2016-06-07 20:07] laughedelic commented on #27
The MG7 pipeline is in https://github.com/ohnosequences/mg7/issues/77. Here will be the comparison/filtering of the results.

[2016-06-08 16:54] laughedelic commented on #27
As I mentioned in https://github.com/ohnosequences/mg7/pull/77#issuecomment-224636121 results are in `s3://era7p/mg7-test/data/out/1.0.0-M4-3-g6baecfc/refdb/merge/` and what I see there immediately:
- ~30% of the output is no-hits, which means those sequences that are not matched with anything except of themselves 👌 (with the 100% `qcovs` and maximum `pident` filters)

[2016-06-08 20:06] laughedelic commented on #27
I got some strange results here:

[code]

I thought that this filter cannot discard some sequence completely, only filter out some of the assigned taxas (but not all) "_
But it appears that there are 109624 _completely_ rejected sequences.

@eparejatobes WDYT?

[2016-06-08 20:39] eparejatobes commented on #27
Need a bit of context

[2016-06-08 20:45] eparejatobes commented on #27
and samples

[2016-06-08 20:59] laughedelic commented on #27
Check the original post: we're filtering those taxas in the id2taxas table that are less specific than the LCA that we got from running MG7 on the DB itself.

I thought that each sequence just gets reduced number of "imprecise" taxa assignments, but it cannot be all of them. Now I think that it's possible because we exclude query sequence from the MG7 results, but it's still strange for me.

I'll

[2016-06-08 21:12] eparejatobes commented on #27
and it's true. There are a lot of badly positioned strains, makes sense to me. I see two options:
1. be more stringent with pident, so that these cases would get no-hits
2. if the lca is only one level up (for example), don't discard the assignments

Or simply discard 'em all

[2016-06-08 21:13] laughedelic commented on #27
For the first one (URS0000484991):
- the original taxas are
  - Rhodopseudomonas sp. TUT3621
  - Rhodopseudomonas sp. TUT3624
  - Rhodopseudomonas sp. TUT3627
- the LCA from MG7 is Rhodopseudomonas palustris (because we compare this sequence with the similar ones that are in the DB)
- they are both descendants of Rhodopseudomonas (1073)

[2016-06-08 21:16] eparejatobes commented on #27
Yes, and in the original paper they just take Rhodopseudomonas palustris and build a new taxonomy using sequence similarity :laughing: https://www.jstage.jst.go.jp/article/jgam/55/6/55_6_469/_pdf

[2016-06-08 21:17] laughedelic commented on #27
pidents were `99.19` and `99.94` correspondingly

what do you mean?

I'm quite confused now with this filter. I think that we shouldn't exclude query sequence from the hits, so that we'll see the LCA of _this_ sequence _and_ the similar ones. Otherwise we're checking that this sequence's assignments are more specific than assignments of its cousins.. "_

[2016-06-08 21:17] eparejatobes commented on #27
Anyway, even at 100% identity, we could have identical 16S seqs, and that's OK as long as they are "close".

[2016-06-08 21:20] eparejatobes commented on #27
if you don't remove the query you won't be able to pick those sequences with wildly different assignments. It's just that we need to set it to be close, not necessarily below

[2016-06-08 21:20] eparejatobes commented on #27
where close means in the path to the root, and less than `n` steps from

[2016-06-08 21:31] laughedelic commented on #27
Ok, this makes sense. But it's more involved. I'll continue with it tomorrow.

[2016-06-08 21:31] eparejatobes commented on #27
In the rhodopseudomonas example:
1. In the original assignment we have three taxa, and their LCA is Rhodopseudomonas
2. the assignment through MG7 yields Rhodopseudomonas palustris
3. If we calculate the LCA of both, is Rhodopseudomonas (the genus) which is _close_ to the MG7 assignment (only one step up). This means that it is OK

[2016-06-08 21:32] eparejatobes commented on #27
Note that setting the pident high enough means that you won't discard those species for which there are no 16S of close taxa.

[2016-06-09 18:00] laughedelic commented on #27
I've implemented this. Now a taxa is filtered out if it's not a descendant of the mg7-lca's **parent**. Here are the results:

[code]

i.e. now much less rejected sequences and only 905 in intersection (those that got some taxas rejected and some accepted).

Results are in `s3://resources.ohnosequences.com/era7bio/db.rna16s/0.9.0/filter3/`. Now I'm going to generate a new BlastDB from this output.

[2016-06-09 18:21] eparejatobes commented on #27
Looks really good. Could you please add here all the discarded stuff?

[2016-06-09 18:23] laughedelic commented on #27
It's there, called "rejected".. Or what do you mean? "_

[2016-06-09 18:24] eparejatobes commented on #27
In the repo

[2016-06-09 18:25] laughedelic commented on #27
I don't get it. Which repo?

[2016-06-09 18:25] eparejatobes commented on #27
Don't worry

[2016-06-09 18:40] laughedelic commented on #27
The BlastDB is at `s3://resources.ohnosequences.com/era7bio/db.rna16s/0.9.0/filter3/accepted/blastdb/`.
I will merge this, release and then write the docs on the whole DB generation workflow, as it's quite involved now (not complex, but needs some explanation).

[2016-06-10 09:42] eparejatobes commented on #27
After looking at the results:
1. We are dropping obviously bad taxonomy assignments, like http://rnacentral.org/rna/URS0000543207?tab=taxonomy or http://rnacentral.org/rna/URS0000321FF1?tab=taxonomy. Good! :tada:
2. For not so common taxa such as this one http://rnacentral.org/rna/URS00005B8513?tab=taxonomy I don't see any obvious reason to drop it. What was the pident threshold? probably not stri

[2016-06-10 12:07] laughedelic commented on #27
Pident threshold was 98%

[2016-06-10 15:48] laughedelic commented on #27
@eparejatobes ok, so we talked with @rtobes and decided to leave unique assignments without any filter (as in the last case) and to try with higher pident (98.5? or 99.0?).

Also, the [second thing](http://rnacentral.org/rna/URS0000321FF1?tab=taxonomy) is strange, the taxonomy shown on the RNAcentral website is not a tree: on the lower branch there's the `Bacilli` node, but the rest of the branch

[2016-06-10 16:14] laughedelic commented on #27
@eparejatobes @rtobes
I'd like to discuss the format of rejected results before I launch it again. The problem is that there are sequences with **some** assignments rejected and with **all** assignments rejected. So far I tried to have rejected table+fasta output as similar to the accepted as possible, i.e.
- table: 2 columns
  - sequences ID
  - assigned taxas (separated with `;`)
- fasta: sequen

[2016-06-10 16:26] eparejatobes commented on #27
I don't care about FASTA, as it is obtainable from the original one if needed. The output needs to cover for each sequence
1. its set of accepted taxonomy assignments
2. its set of rejected taxonomy assignments
3. whether _all_ assignments where rejected, and thus the sequence is dropped from the DB

[2016-06-10 16:27] eparejatobes commented on #27
As for the pident, it should be _at least_ 99.0%. It's OK if a sequence gets no hits, as it won't be discarded then.

[2016-06-10 16:39] laughedelic commented on #27
OK, so a table with three columns:

| Sequence ID | Accepted Taxas | Rejected Taxas |
| :-- | :-- | :-- |
| URS00000A4D66 | 1340418;1037936;1340422 | 442887 |
| URS00000A2E2A |  | 1122958;457173 |
| URS00000A2FB8 | 980870;980871 |  |

So that you can sort it by the second column and see those that are dropped from the DB (i.e. have empty cell in that column).

I'm also switching everywhere to CSV

[2016-06-10 16:48] rtobes commented on #27
OK to the table.
(We need a simple tool to obtain a fasta file with all the sequences corresponding to a list of RNAcentral IDs)

I think so, because it could be a rare taxa without similar sequences in the database (and/or not correctly placed in the taxonomy tree)

[2016-06-10 17:01] laughedelic opened #30 "Change rejected output format"

[2016-06-10 19:02] laughedelic opened #31 "Simplify filter1"

[2016-06-10 21:36] eparejatobes commented on #27
@rtobes about http://rnacentral.org/rna/URS0000321FF1?tab=taxonomy
1. the ncbi taxonomy is OK
2. This one should be discarded, it comes from http://www.ncbi.nlm.nih.gov/nuccore/189913528 and they don't even know what it is. It looks Bacillus subtilis

[2016-06-12 06:53] rtobes commented on #27
This is the only possibility for the lineage of the strain Bacillus sp. PK-5 using the NCBI taxonomy tree:
- Bacillus sp. PK-5
- Bacillus
- Bacillaceae
- Bacillales
- Bacilli
- Firmicutes

You can see here:
http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Undef&id=1239&lvl=2&lin=f&keep=1&srchmode=1&unlock

The collapsed lineage without the  _Bacillales_ order rank probably come from Gr

[2016-06-14 12:55] laughedelic commented on #27
Reran filter1 after #31, and got 3 new sequences filtered out:

| ID | Taxa |
| :-- | :-- |
| [URS0000252246](http://rnacentral.org/rna/URS0000252246/503006) | 503006 |
| [URS000028CAE7](http://rnacentral.org/rna/URS000028CAE7/61432) | 61432 |
| [URS0000879AFD](http://rnacentral.org/rna/URS0000879AFD/503006) | 503006 |

Their names (but not names of their ancestors) contain "unclassified". I guess

[2016-06-14 14:22] laughedelic commented on #27
Reran filter2. Results are in `s3://resources.ohnosequences.com/era7bio/db.rna16s/0.9.0/filter2/`.
262331 seq-s in the output (71.54% of the filter1 output). No changes here.

[2016-06-15 19:10] laughedelic commented on #27
Reran mg7 with pident 99.0% and filter3 with no touching single assignments. Results are in `s3://resources.ohnosequences.com/era7bio/db.rna16s/0.9.0/filter3/`.
261962 seq-s in the output, so _only 369_ sequences filtered out.

[2016-06-15 22:07] laughedelic commented on #28
Done :shipit:

[2016-06-15 22:07] #28 closed, assigned to nobody

[2016-06-15 22:09] laughedelic opened #32 "Write documentation"

[2016-06-15 22:11] laughedelic opened #33 "Setup TravisCI, Codacy and Gitter"
I don't have permissions for any era7bio repos.

[2016-06-15 22:48] eparejatobes commented on #33
moved this to ohnosequences, now you're an admin

[2016-06-16 00:59] laughedelic commented on #33
Well, now I have to change artifact organisation and make a new release 😆 👍

[2016-06-16 01:43] laughedelic commented on #32
@eparejatobes @rtobes please, review this if you have time.
Probably some of this can be used to describe the database in the MG7 paper. Tell me if something needs to be extended or clarified.

[2016-07-11 15:10] laughedelic commented on #32
@rtobes should I merge this?

[2016-07-22 16:50] eparejatobes commented on #32
I'm reviewing this

[2016-07-22 17:00] eparejatobes opened #34 "add data generation as a release-only test"

[2016-07-22 17:14] eparejatobes commented on #32
OK enough for now. I will review grammar/spelling once this first round of comments gets addressed.

[2016-07-25 09:18] eparejatobes opened #35 "mg7 dependency should be part of the test scope"
Otherwise this would lead to cyclic dependencies when using it from tests in mg7.

[2016-07-25 09:18] eparejatobes commented on #34
Note #35

[2016-07-25 11:50] laughedelic commented on #35
I think `Test` is not the right configuration for this dependency. It's part of the DB building process. We could use some other configuration for building the database and leave `Compile` with minimum dependencies for distribution.
Another solution is to list MG7 as `% Provided`. This solves cyclic dependency.

[2016-07-25 13:42] eparejatobes commented on #35
For this kind of projects where we are generating data _and_ exposing where it is for a given version, the layout is:
1. src/main should contain _only_ **where** the data is, and any other static information about it (like headers for csv files, schemas for Bio4j graphs, etc)
2. src/test should contain everything that needs to be run for generating the data, and checking that it is correct. This s

[2016-07-25 14:16] laughedelic commented on #35
This is not so simple. For generating data and running something on AWS we publish fat-jar. By default it includes only compile-scope sources. Including test-related code in it is not nice. And I don't see why data generation has to be classified as tests. Why not just to have another configuration?

[2016-07-25 14:19] eparejatobes commented on #35
We can change that.

Having another configuration has no advantages, while it adds complexity, makes everything non-standard, makes you think about what should go in tests and what not, etc.

[2016-07-25 14:24] laughedelic commented on #35
We can change everything, as well as add the custom configuration.

I see it another way round: the advantage is clarity of what code you need to publish and run to generate data, what code you distribute for referring the data and what code is just tests. Non-standard is putting in tests some code that is not related to tests.

[2016-07-25 16:35] eparejatobes commented on #35
not constructive.

You need to publish the test code for running tests if they involve doing anything on AWS. This code _is_ related to tests, as its purpose is twofold:
1. generate data
2. test that this data is OK

In most cases it will be easier to generate something on an instance, check that it is OK, then put it in S3 or something. About

you shouldn't think about this; everything in `test`.

[2016-07-25 17:11] eparejatobes opened #36 "Remove blacklisted entries, see if they get dropped by further downstream filters"
This: https://github.com/ohnosequences/db.rna16s/blob/master/src/main/scala/filter1.scala#L61-L84

[2016-07-26 09:47] eparejatobes opened #37 "review filters"

[2016-07-26 14:06] eparejatobes commented on #37
@rtobes @marina-manrique

This is about detecting misassignments through comparing the initial assignment with the LCA mg7 result of running the ref db on itself.

Now, if a sequence has only one assignment, we are considering it valid, whatever the mg7 assignment is. Why? Is it on purpose?

[2016-07-26 14:15] eparejatobes commented on #37
@laughedelic please write there in filter2 what your implementation is supposed to be doing.

[2016-07-26 14:26] eparejatobes commented on #37
@laughedelic and check `TODO`s here

[2016-07-26 14:30] eparejatobes commented on #32
Should be updated after #37. I will review it again then.

[2016-07-26 14:53] laughedelic commented on #37
OK. So should I do it in #32?

[2016-07-26 14:55] eparejatobes commented on #37
Better do it here, I want to merge this PR first and then do #32

[2016-07-27 09:15] eparejatobes commented on #35
Not seeing any action here I'm doing this myself

[2016-07-27 09:24] eparejatobes commented on #35
Blocked by ohnosequences/mg7#95

[2016-07-27 09:29] eparejatobes opened #38 "Misassignments and sequences with exactly one assignment"
If a sequence has only one assignment, we are considering it valid, whatever the mg7 assignment is. Why? Is it on purpose?

After #37

[2016-07-27 09:32] eparejatobes opened #39 "Document the drop redundant assignments filter"

[2016-07-27 09:33] eparejatobes opened #40 "rename filterX source files"

[2016-07-27 11:18] laughedelic commented on #38
https://github.com/ohnosequences/db.rna16s/pull/32#discussion_r71972097

[2016-07-27 11:22] laughedelic commented on #39
So https://github.com/ohnosequences/db.rna16s/pull/37/commits/1bccc3f18ad08fee1aed82bcccc5be0df000507b didn't help? Or what is this issue?

[2016-07-27 12:31] eparejatobes commented on #39
https://github.com/ohnosequences/db.rna16s/pull/37#discussion_r72408232

[2016-07-27 12:57] laughedelic commented on #39
Ok. I'm fixing https://github.com/ohnosequences/db.rna16s/pull/32#discussion_r71912023 first.

[2016-07-27 15:43] laughedelic opened #41 "Change artifact org and packages to ohnosequences"
This hasn't been changed since the project was moved on github.

[2016-07-27 16:10] laughedelic commented on #39
@eparejatobes review, please

[2016-08-04 09:40] eparejatobes commented on #41
doing it!

[2016-08-04 09:52] eparejatobes commented on #32
I'll take a look at this today.

[2016-08-04 09:59] eparejatobes commented on #39
OK LGTM

[2016-08-05 15:02] eparejatobes commented on #32
Done!

[2016-08-05 15:06] eparejatobes opened #42 "First release with the ohnosequences namespace"
After (at least)
- [x] #32
- [x] #36
- [x] #38
- [x] #43
- [x] #44
- [x] #45

Note that this should include generating all data; see #46

[2016-08-05 15:09] eparejatobes commented on #32
LGTM from me.

@laughedelic @marina-manrique ?

[2016-08-08 07:25] eparejatobes commented on #32
merging

[2016-08-08 08:58] eparejatobes commented on #35
What's left in here:
- [ ] add values for the S3 addresses of generated data in `src/main`

[2016-08-09 16:35] eparejatobes commented on #38
I'm doing this based on #35

[2016-08-09 16:57] eparejatobes commented on #36
Again, doing it with base #35

[2016-08-09 17:10] eparejatobes commented on #36
LGTM

[2016-08-09 17:11] eparejatobes commented on #35
I think I'm merging this, and fixing the S3 addresses elsewhere.

[2016-08-09 17:13] eparejatobes opened #43 "add S3 objects for generated data"
Right now in `src/main` we don't have the address of the generated data.

[2016-08-09 17:14] eparejatobes commented on #35
See #43. Merging.

[2016-08-10 10:01] eparejatobes opened #44 "update to db.rnacentral 0.7.0"
See ohnosequences/db.rnacentral#25

[2016-08-10 10:02] eparejatobes opened #45 "setup Travis"

[2016-08-10 10:13] eparejatobes commented on #45
Looks to be working, LGTM

[2016-08-10 10:14] eparejatobes commented on #43
@laughedelic I'm not that familiar with how this works with db.rnacentral API etc, so I'm assigning this to you

[2016-08-10 10:16] eparejatobes commented on #34
@laughedelic this is more involved here as we don't have any simple way of automating mg7 runs. I'll leave it open, as it should be done, but it is considered low priority.

[2016-08-10 10:21] eparejatobes opened #46 "how data generation at release works now?"
@laughedelic I'm not following ohnosequences/nice-sbt-settings/49 in full detail, could you tell how we will be running data generation? I also assume that we will need to update/change something here about it?

[2016-08-10 10:39] laughedelic commented on #34
OK

[2016-08-10 10:49] laughedelic commented on #46
The idea is to use release-only tests to launch instances with given bundles that generate data. The problem is that for that one needs to publish first a fat-jar, that includes test sources, but we don't have scoped `test:publish` or `releaseTest:publish`, so I what I'm doing now in https://github.com/ohnosequences/nice-sbt-settings/pull/49 is to include test sources in the fat-jar manually (and

[2016-08-10 13:07] eparejatobes commented on #46
OK. What about running mg7?

[2016-08-10 13:17] laughedelic commented on #46
Mm.. I don't know. We don't have a ready to use way to automise it (again, it's about chaining loquats https://github.com/ohnosequences/loquat/issues/33).

[2016-08-12 14:09] laughedelic commented on #44
Done

[2016-08-12 14:51] laughedelic commented on #43
The problem:
- you want these addresses in `Compile` scope
- but the filters that provide this information are defined in the `Test` scope

A simple solution that doesn't involve changes in the db.rnacentral code:
- set these addresses first
- add another bundle (in `Test`) that just copies things from the last filter to the given locations defined above

[2016-08-12 16:02] eparejatobes commented on #43
Fine. We should polish db.RNACentral a bit at some time, though.

[2016-08-13 00:30] laughedelic commented on #43
This is done. Waiting for @eparejatobes' approvement. In the end I made a simple method that you call locally and it just copies those files in S3.

[2016-08-13 00:54] laughedelic commented on #46
I think that for now this could be left manual:
1. make release the usual way
2. being on that version tag, do all the steps from the docs for generating data

[2016-08-16 14:06] eparejatobes commented on #43
LGTM

[2016-08-16 14:26] laughedelic commented on #42
@eparejatobes is everything ready here?

[2016-08-16 14:31] eparejatobes commented on #42
Is rnacentral updated?

[2016-08-16 14:36] laughedelic commented on #42
Yes: [v0.7.0](https://github.com/ohnosequences/db.rnacentral/releases/tag/v0.7.0)

[2016-08-16 16:01] eparejatobes commented on #42
If that has everything needed, then yes, we should release this after depending on a reasonable mg7 version for tests.

[2016-08-16 16:24] laughedelic commented on #42
I'm a bit confused about you question and "If that has everything needed".. All issues that were planned there [are closed/merged](https://github.com/ohnosequences/db.rnacentral/issues?utf8=%E2%9C%93&q=updated%3A%3E2016-08-04%20) (except the update to RNAcentral v6). Is it what you mean?
Here's also open #46, but I wrote there that we don't have an immediate solution.

Regarding MG7, I'm working o

[2016-08-16 16:27] eparejatobes commented on #42
OK. About rnacentral, just this: https://github.com/ohnosequences/db.rnacentral/compare/v0.7.0...master if there's nothing important there, then let's keep going.

[2016-08-16 16:34] laughedelic commented on #42
It's only org/docs/build updates 👌

[2016-08-17 18:59] laughedelic commented on #42
@eparejatobes I'm thinking of using MG7 1.0-M4 (previous release) to generate the new release of this DB, because M5 is only about refactoring, so it won't make results here any better, but something may got broken. So I want to do it like this:
- release db.rna16s 0.10.0 using MG7 M4
- release MG7 M5
- use MG7 M5 and db-rna16s 0.10.0 to run MG7 test pipelines

(then release RC1 if everything is f

[2016-08-18 08:04] eparejatobes commented on #42
OK from me.

[2016-08-18 08:38] laughedelic commented on #42
I released v0.10.0 and launched `pick16SCandidates` overnight, but it has failed with "GC overhead limit exceeded". It's quite strange, because I used `r3.2xlarge` instance with 40GB of heap.

[2016-08-18 08:52] laughedelic commented on #42
In general it feels very strange to make a release for data that yet has to be generated (and still may not)...

[2016-08-18 16:25] laughedelic opened #47 "Reimplement pick16SCandidates in a fixed-memory fashion"
Using `Iterable` instead of `Stream` and do some lazy `groupBy`.

[2016-08-18 16:31] laughedelic commented on #47
Will do it some time after #42.

[2016-08-18 17:40] laughedelic commented on #42
Finally it worked with 80GB of RAM. I'm running MG7 now.

[2016-08-18 22:49] laughedelic commented on #42
Finally finished with this! [v0.10.0](https://github.com/ohnosequences/db.rna16s/releases/tag/v0.10.0) is released, generated data is where it's supposed to be:

[code]

@eparejatobes please, review it. I'm going to update MG7 to this version meanwhile.

[2016-08-18 22:51] laughedelic commented on #46
Closing this. Should be discussed somewhere else. Here we have #34 for whatever will be done.

[2016-08-18 22:51] #46 closed, assigned to laughedelic

[2016-08-19 07:55] eparejatobes commented on #42
I'm working on it.

[2016-08-19 08:01] eparejatobes opened #48 "review 0.10.0 data"

[2016-08-19 08:55] eparejatobes commented on #42
See #48

[2016-08-19 08:55] eparejatobes commented on #48
Sorry about the blast noise, but I think it's worthwhile to take a look at it.

[2016-08-19 08:56] eparejatobes commented on #48
The file to read is https://github.com/ohnosequences/db.rna16s/blob/review/data/48/docs/0.10.0-data-review/readme.md

[2016-08-19 09:03] eparejatobes commented on #48
Please @rtobes @marina-manrique take a look

[2016-08-19 09:15] rtobes commented on #48
I have reviewed the file and it is OK but, sorry, I don't understand the joke? about blast noise

[2016-08-19 09:20] eparejatobes commented on #48
the BLAST files I added, which make for a pretty big diff here

[2016-08-19 09:23] eparejatobes commented on #48
So about https://github.com/ohnosequences/db.rna16s/blob/review/data/48/docs/0.10.0-data-review/readme.md#conclusions; do we want all this before the paper? please vote here :)

[2016-08-19 09:50] rtobes commented on #48
Thanks! I am reviewing the BLAST files now.

URS00008CCF2E:
This case is not clear because the RNAcentral assignment is to "Candidatus Hepatobacter penaei," This organisms is an intracellular pathogenic enteric bacterium in the hepatopancreas of the marine shrimp Penaeus vannamei (Crustacea: Decapoda):
- http://www.ncbi.nlm.nih.gov/pubmed/23241970
- http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3568

[2016-08-19 10:16] eparejatobes commented on #48
I expanded a bit on a simple way of implementing point 2. in the conclusions b22c8da

[2016-08-19 10:30] rtobes commented on #48
Using the restriction of qcovs if you have in the database a reference sequence not correctly trimmed (with sequence regions not corresponding to 16S gene but to its flanking regions) the most similar sequences in the database will be those that casually include regions flanking 16S genes that can be similar. In that case the assignment is not based on the sequence of 16S gene but in the sequence

[2016-08-22 17:44] eparejatobes opened #49 "Filter based on number of Ns"
RNACentral only filters out sequences with more that 10% (!!!) of `N`s. We need to be far more restrictive here.

[2016-08-22 17:47] eparejatobes commented on #49
I'm adding this to the first step.

[2016-08-22 18:11] eparejatobes commented on #49
@laughedelic please review

[2016-08-22 18:12] eparejatobes opened #50 "Relax query coverage requirement in consistency step"

[2016-08-22 18:23] eparejatobes commented on #50
See discussion in #48

[2016-08-22 18:23] eparejatobes commented on #49
after the discussion in #48

[2016-08-22 18:33] eparejatobes commented on #49
OK fine about a7f835b

[2016-08-22 18:40] laughedelic commented on #49
`pullRequestIsOK`

[2016-08-22 18:42] eparejatobes opened #51 "Drop assignments from sequences with no hits to equally-assigned sequences"
See #48 for context.

If, after dropping inconsistent assignments, we have

1. a sequence `S1` with assignment `T`
2. other sequences `S2,S3,...` which all have a `T` assignment
3. `S1` has no BLAST hits with `S2,S3,...`

Then the `T` assignment should be dropped from `T`

Note that we can do this with input the MG7 results and the output assignments of the "drop inconsistent assignments" step.

[2016-08-22 18:44] eparejatobes commented on #49
thank you @laughedelic!

[2016-08-22 18:45] eparejatobes commented on #51
@rtobes @laughedelic your opinion on this, please.

[2016-08-22 18:54] laughedelic commented on #49
One thing here before you merge

[2016-08-22 18:57] laughedelic commented on #49
Consider changing the order of conditions: the one about contiguous Ns does t require full sequence traversal, whilst other conditions do. So better putting it first. Also I'm not sure if length will be evaluated twice (I hope it's cached)

[2016-08-23 07:56] rtobes commented on #51
It could exist the case in which the T assignment is very unspecific (for example at phylum rank). In that case s1 assignment would be correct. I would apply that strategy only if the T assignment correspond to the **species** and perhaps also **genus** ranks.

[2016-08-23 07:58] eparejatobes commented on #51
https://github.com/ohnosequences/db.rna16s/pull/51#issue-172524590 is not exactly what I want, better check 7c73b03

[2016-08-23 08:02] eparejatobes commented on #51
Yes, correct; but do we want to keep those assignments?

[2016-08-23 09:30] rtobes commented on #51
If they are the most specific assignment (obtained after automated curation) for that sequences perhaps yes

[2016-08-23 09:39] eparejatobes commented on #51
If they were assigned to something like Firmicutes, Bacteria, etc then it probably was through (weak) similarity with well identified sequences. Then, I prefer to keep only those well identified sequences, and if I happen to get that sequence as input when running mg7 with this DB, the result will be equivalent, if not better: most likely we will have more well-identified sequences than those whic

[2016-08-23 09:56] rtobes commented on #51
My concern is about really strange and new sequences not similar to nothing in the database.
Even without a filiation, it would be interesting to know that you have a sequence similar to one in the database even when you do not know what it is.
Perhaps we can add new "taxaIDs" to include the "not classified unique sequences" with no similar ones in the database of well classified sequences

[2016-08-23 14:45] eparejatobes opened #52 "NCBI-style FASTA headers are wrong"
Which implies that they will be incorrectly parsed by `makeblastdb`. They should be

[code]

[2016-08-23 14:59] eparejatobes commented on #49
LGTM

[2016-08-23 14:59] eparejatobes commented on #50
Not much to discuss here, merging.

[2016-08-23 15:11] eparejatobes commented on #52
@laughedelic does this affects something in mg7? parsing of results, id2taxa mappings, anything?

[2016-08-23 15:58] laughedelic commented on #52
I don't think so. MG7 uses whichever ids are provided by the id2taxas map and output from blast.

[2016-08-23 16:42] eparejatobes commented on #51
After discussing this with @rtobes we have decided to leave this on hold. It's not really well-defined, and there's a high risk of dropping interesting assignments/sequences.

[2016-08-23 16:43] eparejatobes commented on #52
OK fine. Then I'm merging this.

[2016-08-23 16:45] eparejatobes commented on #48
I will do this again with 0.11 data.

[2016-08-23 16:54] eparejatobes commented on #42
Closing this, already reviewed the data in #48

[2016-08-23 16:55] #42 closed, assigned to eparejatobes

[2016-08-23 16:57] eparejatobes opened #53 "Add the ODbL license for database, with data qualification"

[2016-08-23 16:59] eparejatobes opened #54 "Release 0.11.0"
After #52 and specially #49 and #50, which where identified in #48, we are pretty happy with the current pipeline.

Let's release 0.11.0, I will check the data afterwards and then we can consider this stable.

[2016-08-23 17:48] laughedelic commented on #54
OK, I'm assigned, so I guess, I have to generate the data.

[2016-08-24 10:15] eparejatobes commented on #54
I don't want to delay this, I'm doing it myself.

[2016-08-24 10:27] laughedelic commented on #54
I was going to merge #47 and run it now. So if you want to do it, please, merge #47 first.

[2016-08-24 10:35] eparejatobes commented on #54
I'm not merging #47, it's untested and dealing with iterators is tricky. What we have now works, and I'm much more interested in getting the database right than in the performance/hardware requirements.

[2016-08-24 10:50] eparejatobes commented on #54
couldn't publish the release on github, see ohnosequences/nice-sbt-settings#53

[2016-08-24 10:52] laughedelic commented on #54
Replied there.

[2016-08-24 10:55] laughedelic commented on #54
Sorry, it's my fault: [here](https://github.com/ohnosequences/db.rna16s/blob/master/build.sbt#L12), it should be

[code]

UPD: fixed.

[2016-08-24 11:46] laughedelic commented on #47
@eparejatobes please, review 5a80b98

[2016-08-24 13:23] eparejatobes commented on #54
Is there a way of publishing the release on github now?

[2016-08-24 13:31] laughedelic commented on #54
Yes

[code]

[2016-08-24 18:42] laughedelic commented on #54
@eparejatobes regarding those two suspicious _Leptospira fainei_ guys, here are the values from the blast output (cut IDs prefix, transposed):

| column | parent | child |
| :-: | :-- | :-- |
| qseqid | URS0000424C5E | URS0000043A26 |
| qstart | 1 | 1 |
| qend | 1466 | 1453 |
| qlen | 1481 | 1464 |
| sseqid | URS0000299BD4 | URS0000299BD4 |
| sstart | 1 | 14 |
| send | 1466 | 1466 |
| slen | 1466

[2016-08-25 08:57] eparejatobes commented on #54
Data is generated, release published. Merging, doing data review elsewhere.

[2016-08-25 09:13] eparejatobes opened #55 "review 0.11.0 data"

[2016-08-25 11:13] laughedelic commented on #54
@eparejatobes are you going to make another release or we will use this one for testing MG7?

[2016-08-25 14:19] eparejatobes commented on #55
I'm doing this right now.

[2016-08-25 15:56] laughedelic commented on #53
Are you sure that it's applicable to the data from RNAcentral?

and

from [Terms of Use for EMBL-EBI Services](http://www.ebi.ac.uk/about/terms-of-use)

[2016-08-25 16:38] eparejatobes commented on #53
See http://opendatacommons.org/faq/licenses/#Why_Do_You_Distinguish_Between_the_8220Database8221_and_its_8220Contents8221

[2016-08-25 16:55] laughedelic opened #56 "Modify final data filtering procedure"
1. From the `mg7pipeline` run only `split` and `blast` steps
2. Add new filter which will
   - retrieve the output of blast and merge/group it per sequence
   - for each sequence review its assignments in the context of the taxas corresponding to the blast hits:
     + go up the assignment's lineage for a fixed number of layers/ranks
     + check accumulated count and compare it with the total num

[2016-08-26 16:56] laughedelic commented on #48
Let's close it? Is there anything to merge?

[2016-08-26 16:59] eparejatobes commented on #48
Yes, it can be closed.

[2016-08-26 17:01] eparejatobes commented on #55
#56 was a side-effect of this. Closing.

[2016-08-26 17:01] #55 closed, assigned to eparejatobes

[2016-08-26 17:02] eparejatobes commented on #47
OK, will do.

[2016-08-26 17:27] laughedelic commented on #47
Anything else here?

[2016-08-26 17:29] eparejatobes commented on #47
No, fine for me. LGTM

[2016-08-26 17:34] laughedelic commented on #56
@eparejatobes do we need latest MG7 here (with https://github.com/ohnosequences/mg7/pull/71) or it doesn't matter?

[2016-08-26 17:35] eparejatobes commented on #56
Yes, we need it.

[2016-08-29 18:57] laughedelic commented on #56
@eparejatobes I've done a _draft_ implementation of how I understood this. Please, review the code.

[2016-09-22 02:06] laughedelic commented on #56
I've run this just to check that the code works, fixed a couple of bugs on the way. So now it's ok.

I remember that I was pretty sure that I got this thing wrong (in respect to which number has to be compared to which), but I don't remember details it now. I'll check the code tomorrow and comment on my doubts.

[2016-09-22 08:17] eparejatobes commented on #56
@laughedelic OK good. I was thinking about this a week ago, and discussed a bit with @rtobes. I think we should talk about it ASAP, so that you don't waste any time here in doing something slightly different.

[2016-09-22 19:54] laughedelic commented on #56
After a meeting with @eparejatobes:
- [x] change the frequency comparison: parent's acc. count / total
- [x] add the factorization step using equivalence relation based on blast hits, made symmetric and transitive

[2016-09-27 17:59] laughedelic commented on #56
While testing and debugging the code here, I encountered an interesting behaviour:

[code]

Runtime exception! :trollface: because you implicitly passed an `Array` instead of `Seq` 👍
Even `foo(Array("1", "2", "3").toSeq)` fails, although the type is `Seq`, inside it's still `WrappedArray`...

P.S. On one hand pattern matching is buggy indeed, on the other, I should be using `+:` for matching `Seq`

[2016-09-27 20:43] laughedelic commented on #56
I finished testing it and now it runs fine, but looking at the debug output I can say that it's just not filtering out anything. Probably it's due to too soft conditions (the threshold was chosen randomly), probably something is wrong in the algorithm. So I'd like to see it tomorrow with @eparejatobes. Meanwhile the results of the test run ar in

[code]

Probably the most interesting part there at

[2016-10-03 09:17] eparejatobes commented on #56
I'm looking at this right now.

[2016-10-03 09:26] eparejatobes commented on #56
Most likely something's wrong with the code. We have URS0000732614 in a cluster with 1200 members; that sequence is assigned to Pseudomonas which is obviously wrong given the composition of that cluster.

[2016-10-03 09:46] eparejatobes commented on #56
Also after a quasi-random manual inspection the clusters look OK. _Maybe_, just maybe, clusters are a bit bigger than expected. The 99.0 identity threshold _could_ be raised to 99.5?

cc @rtobes @marina-manrique

[2016-10-03 15:37] laughedelic commented on #56
So, should I rerun it with 99.5? I will check the filtering code, but I'm pretty sure in the clustering part.

[2016-10-03 16:20] eparejatobes commented on #56
https://github.com/ohnosequences/db.rna16s/pull/56#issuecomment-251140576 I'm not sure. @rtobes ?

[2016-10-03 16:38] eparejatobes commented on #56
Where are the docs for what this should do? those in the code of this branch describe an older version.

[2016-10-03 21:39] laughedelic commented on #56
@eparejatobes could you post it somewhere else please (like gist) and replace it here just with a link?

I will update them tomorrow.

[2016-10-04 12:15] eparejatobes commented on #56
Pasted the wrong ID and cluster. We have
- [URS00008E71FD](http://rnacentral.org/rna/URS00008E71FD) assigned to Staphylococcus sciuri
- Its cluster is composed almost completely of pseudomonas: [URS00008E71FD cluster](https://gist.github.com/eparejatobes/30f1cdaff2edccc46e236fd2ccf213be)

Obviously, with any threshold value, that assignment should be dropped, which implies something's wrong with t

[2016-10-04 15:23] laughedelic commented on #56
@eparejatobes I updated the docs for clustering and `dropInconsistentAssignments` steps. Take a look.
- [clustering doc](https://github.com/ohnosequences/db.rna16s/blob/pr/56/docs/src/test/scala/clusterSequences.scala.md)
- [last filter doc](https://github.com/ohnosequences/db.rna16s/blob/pr/56/docs/src/test/scala/dropInconsistentAssignments.scala.md)

[2016-10-04 20:20] eparejatobes commented on #56
I will take a look at the docs tomorrow.

Please do something with the code: why nothing gets filtered, etc. I already gave you a good test above.

[2016-10-04 23:05] laughedelic commented on #56
I found where was the problem: I mixed up the order of lineage, so instead of taking a parent node, I was always taking `131567` (cellular organisms) 😓

Now it's fixed. So we can rerun it once you review the docs and decide on the threshold.

[2016-10-06 13:32] laughedelic commented on #56
I have finished the run with the fix, 75% threshold and 1 level up. Results are in

[code]

@eparejatobes please, take a look
- all assignments accepted: 176 206
- all assignments discarded: 47 638
- some accepted, some discarded: 1 938

[2016-10-06 15:45] laughedelic commented on #56
Finished two more runs with 2 and 3 levels up. Here's the summary:

|  | all accepted | all rejected | some/some | version |
| :-- | --: | --: | --: | :-- |
| 1 up | 176 206 | 47 638 | 1 938 | `0.11.0-34-g2f6d790` |
| 2 up | 209 644 | 15 387 | 751 | `0.11.0-36-gdd17708` |
| 3 up | 221 188 | 4 276 | 318 | `0.11.0-37-g2c7f34a` |

[2016-10-06 16:47] eparejatobes commented on #56
about the levels, in 3 up we have one excluded here in this tree
- [ugly link that maybe works](https://www.ncbi.nlm.nih.gov/Taxonomy/CommonTree/wwwcmt.cgi?session=1fQUZkwxymoy2_yN9cgDrbwtKMe27tScRaBKRKElkdFv5q68lZ8viaR5aaarpfwbsfbQ0FNvwd6ZkEP-xp2UtrQA8b4AE_NoVgPX2N_oDUOsFsHIhrf5ZctDd-Jw4ZUZXNC9DM&en=1235833#1235833) the ids are `266615;266706;266624,1423`

we have one of them removed. Why?

[2016-10-06 18:45] laughedelic commented on #56
Something is wrong with the link, it shows some Acinetobacters. Here's the tree that I get with the given IDs:

[code]

(I got it from "save as 'text tree'")

The excluded one is `Bacillus subtilis` which seems to be logical, still depends on the counts, but it's from completely another branch.

That text tree collapses branches, here's the full tree:

<img width="277" alt="screen shot 2016-10-06

[2016-10-06 19:44] eparejatobes commented on #56
Sorry pasted the wrong IDs :(

These are an example of what I'm talking about: `1315975,535026;535025;535024` the first one kept, the others removed. Here's the tree

[code]

obviously their cluster should contain others up Bacillus subtilis. That's why I wanted to use 99.5 for the cluster generation phase. We can discuss it tomorrow.

Anyway, all in all, this looks exceedingly good :tada:

[2016-10-06 20:06] laughedelic commented on #56
Yes, this looks strange. Which sequence is this from? I can get its cluster and check the counts locally.

[2016-10-06 20:48] eparejatobes commented on #56
This:
- `gnl|ohnosequences.db.rna16s|URS00008CF24E,1315975,535026;535025;535024`

[2016-10-06 23:16] laughedelic commented on #56
The reason to drop those three is simple:
- their 3rd order ancestor (id 653685) has count 3641 which is **~67%**,
- while its parent (that kept guy's 3rd order ancestor, id 1386) has count 5407 which is ~99%

[2016-10-06 23:35] laughedelic commented on #56
Here are the REPL commands for reference and in case you want to investigate it yourself.

First you need to download some necessary minimum:
- bio4j taxonomy DB:

[code]
- assignments table (from the previous step):

[code]

The you can download, for examplem clusters from the last run (this location you can change):

[code]

Find the cluster you're interested in and put it in a separate file (in

[2016-10-07 08:45] eparejatobes commented on #56
Re https://github.com/ohnosequences/db.rna16s/pull/56#issuecomment-252114647 OK reasonable.

I'm happy with the 3 level output as-is, LGTM. Future improvements:
1. be a bit more stringent on the identity threshold (maybe, I'm not really sure)
2. If I'm not mistaken, we could have two assignments t1, t2 _in the same cluster_ for which
   1. t2 is a descendant of t1
   2. t1 is dropped, t2 is kept

[2016-10-07 08:48] eparejatobes opened #57 "Keeping descendants of coherent assignments from the same cluster?"
In our equivalence class consistency checks, we could have two assignments t1, t2 *in the same equivalence class* for which

  1. t2 is a descendant of t1
  2. t1 is dropped, t2 is kept

  Should t1 be kept? I vote yes.

[2016-10-07 08:50] eparejatobes opened #58 "Review identity threshold for equivalence classes"
We are using 99%. Shall we increase it? 99.5, 99.4231, something?

[2016-10-07 08:50] eparejatobes commented on #56
Opened #58 and #57 after my comment above.

[2016-10-07 08:54] eparejatobes commented on #56
So @laughedelic assign me if you need something else from me here.

@rtobes check https://github.com/ohnosequences/db.rna16s/pull/56#issuecomment-252003187 for a summary; right now we are maybe dropping some substrain assignments, but I'm pretty confident we don't let any mis-assignment in.

[2016-10-07 08:56] eparejatobes commented on #58
This is old (1992) but interesting:
- [How close is close: 16S rRNA sequence identity may not be sufficient to guarantee species identity.](https://www.ncbi.nlm.nih.gov/pubmed/1371061)

[2016-10-07 09:02] eparejatobes opened #59 "Update to RNACentral 6"
Once it is released.

[2016-10-31 09:59] eparejatobes opened #60 "Review latest version of output data"
Including the improvements after #56. @laughedelic which version should I look at?

[2016-10-31 10:03] laughedelic commented on #60
[v0.12.0](https://github.com/ohnosequences/db.rna16s/releases/tag/v0.12.0)

[2016-10-31 10:20] eparejatobes commented on #60
I didn't remember I did look at this in #56 :smile:

Closing.

[2016-10-31 10:20] #60 closed, assigned to eparejatobes, laughedelic

[2016-10-31 10:21] eparejatobes commented on #57
@laughedelic please confirm that my description above corresponds with the current codebase

[2016-10-31 10:43] laughedelic commented on #57
As you said in https://github.com/ohnosequences/db.rna16s/pull/56#issuecomment-252185375 it's a "future improvement", so no, it's not in 0.12.0.

[2016-10-31 10:58] eparejatobes commented on #57
My question was about whether this

holds for 0.12.0

[2016-10-31 12:27] laughedelic commented on #57
I'm not sure, but I think so 😶 You described it this situation for what was developed in #56, it was decided to change it in the next release, so what we had in #56 at that moment was released as 0.12.0.

[2016-11-02 16:12] eparejatobes commented on #57
OK thank you @laughedelic. I want you to implement this. If there's something you might need to ask me, do it!

[2016-11-02 16:14] eparejatobes opened #61 "Remove SILVA data"
Almost all of it is part of ENA, and it's easier to maintain only one version of the database. We need to

- [x] parse the source column from RNACentral data
- [x] exclude sequences which come *only* from SILVA

[2016-11-03 14:43] laughedelic commented on #57
Ok. Any kind of deadline for this?

[2016-11-05 15:14] eparejatobes commented on #58
Leaving 99.0%

cc @rtobes @marina-manrique

[2016-11-05 15:14] #58 closed, assigned to eparejatobes, rtobes

[2016-11-05 15:15] eparejatobes commented on #59
Removing from 1.0.0, as RNACentral 6.0 is still not released.

[2016-11-05 15:17] eparejatobes opened #62 "Review docs"
There are a lot of typos.

[2016-11-17 00:52] laughedelic commented on #61
Oops. Pushed to master accidentally. See 0f709f2d803fecac23a533da8b6d851f677e7a60. Will close it once the data is filtered.

[2016-11-17 16:28] laughedelic commented on #57
This is ready, but I just realized that there is some controversy between the title of this issue and the description:
- the title says:

- and the description says:

  i.e. _descendant is kept_, then

  i.e. _ancestor should be kept_. Which is kind of dual to what the title says.

@eparejatobes
I implemented the second (keeping discarded ancestors). Should it be another way round?

[2016-11-17 23:33] laughedelic commented on #61
Results are in

[code]

This procedure dropped 16 050 _sequences_ (not assignments), those that come _only_ from SILVA. I also filtered out all assignments from SILVA, but I didn't count them (it's not so trivial). Number of sequences on this step:
- 364997 before (v0.12.0)
- 348947 after

[2016-11-17 23:35] #61 closed, assigned to laughedelic

[2016-11-17 23:36] laughedelic commented on #57
I ran all steps except the last. Now that I'm thinking about it, keeping _descendants_ makes more sense to me. I'm going to change it, but I'm waiting for @eparejatobes' approvement to run this.

[2016-11-18 10:07] eparejatobes commented on #57
There's a typo in the issue text.
1. keeping ancestors comes for free, given our criteria: if the accumulated count is big enough for t, it will be so for any ancestor in that equivalence class
2. What we want is our filter to be a filter in the tree poset: if a is valid and x ≦ a then a is valid too

[2016-11-18 12:50] laughedelic commented on #57
Done. Results are in

[code]

[2016-11-18 13:07] laughedelic commented on #57
Comparison of numbers of filtered/kept sequences on this last step (see the `summary/` table in the results) between this version and the last release:

| version | total | all accepted | all rejected | some/some |
| :-- | --: | --: | --: | --: |
| `v0.12.0` | 225 782 | 176 206 | 47 638 | 1 938 |
| `cd4e3e3` | 214 692 | 212 415 | 2 110 | 166 |

Note, that total is different, i.e. the input for thi

[2016-11-21 12:20] eparejatobes commented on #57
I looked at the output data and everything looks OK. We are not losing now the super-specific assignments (as expected, that was the point of this PR), and looks like all the wrong ones I knew are out.

[2016-11-21 13:32] laughedelic commented on #53
I think you should also add there a mention of the (data import pipeline) software license, otherwise this section looks confusing (on the front page of the source code repository).

[2016-11-22 11:14] eparejatobes commented on #53
Need to change again the license, the right one is http://opendatacommons.org/licenses/odbl/summary/

[2016-11-24 11:13] eparejatobes commented on #53
LGTM

[2016-11-24 11:21] eparejatobes opened #63 "set up pullapprove"

[2016-11-24 11:31] eparejatobes commented on #63
LGTM

[2016-11-24 15:06] laughedelic opened #64 "Integrate assignments into the BLAST DB"
I have an idea to add assignments list to the FASTA headers to integrate this information in the BLAST DB. This way one can get all the information (of what db.rna16s provides) from the BLAST results (by parsing the `stitle` output field).

We can keep the assignments table separately for any other use. Same about the FASTA for all the sequences in the DB, we can provide it with or without this ad

[2016-12-19 00:06] laughedelic opened #65 "Update dependencies"
See https://github.com/ohnosequences/db.rnacentral/issues/28

[2016-12-19 14:01] laughedelic commented on #65
I guess, I can't avoid updating all dependencies here and in db.rnacentral. So I will have to make a new release of the data. Therefore 2 questions (to @eparejatobes):

- should I use the latest version of MG7? (M5 + fixes)
- can I remove the [`BlastDBType`](https://github.com/ohnosequences/db.rna16s/blob/master/src/main/scala/package.scala#L14) reference from the `Compile`-scope code here? It for

[2016-12-19 22:39] laughedelic commented on #65
I just finished running the test pipelines in https://github.com/ohnosequences/mg7/pull/105. So you can say after reviewing it, whether we want to use the latest MG7 here.

Either way, MG7 will need updated dependencies not to conflict with the updates made here. For the latest MG7 I have https://github.com/ohnosequences/mg7/pull/121.

[2016-12-23 16:33] laughedelic commented on #65
@eparejatobes do you want to change any MG7 parameters here?

[2017-01-12 16:55] eparejatobes commented on #59
There's now RNACentral 6.0, back to 1.0.0

[2017-01-13 13:27] laughedelic commented on #65
@eparejatobes ⬆️ ?

[2017-01-13 15:17] laughedelic commented on #59
Done in https://github.com/ohnosequences/db.rna16s/pull/65/commits/07baf09d1fac1e55b0051b577b10e6350a78cb1b

[2017-01-13 17:41] laughedelic commented on #65
I ran the first two steps:
- pick16SCandidates
- dropRedundantAssignments

I will wait for confirmation from @eparejatobes before running MG7 and further steps.

[2017-01-14 12:18] eparejatobes commented on #65
Re https://github.com/ohnosequences/db.rna16s/pull/65#issuecomment-269014684

word size should be smaller, 150 is too much. Better set it to ~40, did it in 2c25a31.

[2017-01-16 15:28] laughedelic commented on #65
This is done. The new database (with all deps updated and RNAcentral 6.0) is in

[code]

(or intermediate results at `../`)

@eparejatobes Are you going to review this data?

[2017-01-17 12:42] eparejatobes commented on #65
@laughedelic looks fine. LGTM.

[![Approved with PullApprove](https://img.shields.io/badge/maintainer-approved-brightgreen.svg)](https://pullapprove.com/ohnosequences/db.rna16s/pull-request/65/?utm_source=github-pr&utm_medium=comment-badge&utm_campaign=ohnosequences/db.rna16s)

[2017-01-17 14:26] laughedelic commented on #65
LGTM

[2017-01-17 14:29] eparejatobes commented on #65
LGTM

[![Approved with PullApprove](https://img.shields.io/badge/maintainer-approved-brightgreen.svg)](https://pullapprove.com/ohnosequences/db.rna16s/pull-request/65/?utm_source=github-pr&utm_medium=comment-badge&utm_campaign=ohnosequences/db.rna16s)

[2017-01-17 14:30] laughedelic commented on #65
I cannot approve it. You're the only maintainer 😐

[2017-01-17 14:32] #59 closed, assigned to laughedelic

[2017-01-17 14:32] laughedelic commented on #62
This is the only open issue of the 1.0.0 milestone

[2017-01-18 10:34] eparejatobes commented on #64
@laughedelic I think we already discussed this, and why it's neither possible nor a good idea. Closing?

[2017-01-18 10:36] laughedelic commented on #64
Can you write here a short resume of the reason? So that we won't be coming back to this again.

[2017-01-18 10:41] eparejatobes commented on #64
It's not a good idea because assignments are a function `sequence -> taxon`, not part of `sequence`s. It is not possible because BLAST expects a single taxonomy assignment for each sequence.

[2017-01-18 10:46] rtobes commented on #64
As far as I know BLAST and NCBI in general expect a single taxonomy assignment for each sequence

[2017-01-18 11:59] laughedelic commented on #64
I know, but my suggestion was a bit different:

[2017-01-18 12:09] eparejatobes commented on #64
Closing then.

[2017-01-18 12:09] #64 closed, assigned to nobody

[2017-01-18 16:05] eparejatobes commented on #62
I'm on it

[2017-01-18 16:48] eparejatobes commented on #62
I'm happy now. If anyone wants to review this, go for it.

[2017-01-18 16:59] eparejatobes commented on #62
thanks @laughedelic

[2017-01-18 17:01] eparejatobes commented on #62
LGTM

[![Approved with PullApprove](https://img.shields.io/badge/maintainer-approved-brightgreen.svg)](https://pullapprove.com/ohnosequences/db.rna16s/pull-request/62/?utm_source=github-pr&utm_medium=comment-badge&utm_campaign=ohnosequences/db.rna16s)

[2017-01-18 19:03] laughedelic commented on #62
Why is it closed?

[2017-01-18 19:18] eparejatobes commented on #62
Weird. Looks like the merge failed locally or something.

LGTM

[![Approved with PullApprove](https://img.shields.io/badge/maintainer-approved-brightgreen.svg)](https://pullapprove.com/ohnosequences/db.rna16s/pull-request/62/?utm_source=github-pr&utm_medium=comment-badge&utm_campaign=ohnosequences/db.rna16s)

[2017-01-24 17:01] laughedelic opened #66 "Generate some stats after all filtering steps"
- `summary.csv` table for each filter step gives us
  + number of sequences (before/after)
  + number of assignments (accepted/rejected)
- `clusters.csv`: first filter clusters after the last step
  + clusters number
  + distribution of cluster sizes

@eparejatobes what else?

[2017-01-31 17:54] eparejatobes commented on #66
The LCA of each cluster?

[2017-02-01 17:19] laughedelic opened #67 "Make the last filter idempotent"
Currently the **drop inconsistent assignments** step is not idempotent (repeating it may reject more assignments). How to fix it:

- take the ancestors (e.g. grandparents) of the cluster members
- filter them using the same algorithm comparing (their) counts with the total
- keep those cluster members whose grandparents got accepted

This should be even a bit simpler than it is now.

[2017-02-01 17:43] laughedelic opened #68 "Prepare 23S sequences reference DB"
From https://github.com/ohnosequences/db.rna16s-paper-2017/issues/6#issuecomment-276719633:

[2017-02-01 17:45] laughedelic opened #69 "Filter out 23S-similar sequences"
See https://github.com/ohnosequences/db.rna16s-paper-2017/issues/6#issuecomment-276719633. Using #68:

[2017-10-17 22:47] laughedelic opened #70 "Update project"
Depends on https://github.com/ohnosequences/db.rnacentral/issues/31

[2017-10-25 12:59] laughedelic commented on #70
Updated it to RNAcentral v7, but haven't run the bundles yet.

[2017-10-31 22:39] laughedelic commented on #70
Some things got broken on the way and I spent quite some time debugging it. Now the first 2 steps work fine, then in the MG7 launch fails on BLAST. Most likely it's a regression in Loquat or the sqs-bug again. I will try to fix it in Loquat and return then here.

[2017-11-07 04:14] laughedelic commented on #70
@rtobes @eparejatobes
The new DB based on RNAcentral v7 is ready. The data for your review is in

* [s3://resources.ohnosequences.com/ohnosequences/db-rna16s/1.0.0-9-g0df2514/dropInconsistentAssignments/](https://s3.console.aws.amazon.com/s3/buckets/resources.ohnosequences.com/ohnosequences/db-rna16s/1.0.0-9-g0df2514/dropInconsistentAssignments/)

----

Things for me to finish here:
- [x] move fas

[2017-11-07 16:59] rtobes commented on #70
Good news!
I am going to review

[2017-11-09 13:04] eparejatobes commented on #70
Reviewing this is harder than it should. We need to generate fasta files and separate CSVs for

- entries who lost all assignments (and are thus dropped)
- entries with *some* removed assignments

Having the proportions of these would be helpful too.

[2017-11-09 13:35] eparejatobes commented on #70
Nothing super-strange here, :+1: from me.

[2017-11-09 14:55] rtobes commented on #70
Go ahead!

[2017-12-04 16:15] laughedelic opened #71 "Zero compile dependencies"
I suggest to remove any compile-scoped dependencies, i.e.
* use `sbt-buildinfo` (or manually sbt `sourceGenerators`) to get version/artifact name from the build (currently we use statika metadata generator, but we don't need it in compile scope)
* store data locations as `URI`s (currently we use aws-scala-tools for that)

The reason is very simple: this will let use avoid any dependency conflicts

[2017-12-04 16:17] laughedelic commented on #70
I'm merging this to release the reviewed data. The WIP on automated release and dependencies updates will be done in another PR(s).

[2017-12-07 15:59] laughedelic commented on #70
The reviewed data has been released as 1.1.0-RC1. I will make the final release after the data generation process is automated.

[2017-12-13 13:27] eparejatobes opened #72 "Separate taxonomic assignments"

[2017-12-13 13:28] eparejatobes opened #73 "Drop the consistent assignments part"
Move it to a separate assignments module. See #72.

[2017-12-13 13:30] eparejatobes opened #74 "No taxonomy filters"
This belongs to assignments. See #72.

[2017-12-13 13:30] eparejatobes opened #75 "Drop redundant assignments"
Again this *needs* an assignment. See #72.

[2018-02-07 10:05] eparejatobes opened #76 "2.0 rewrite"

[2018-02-07 13:08] eparejatobes commented on #76
Yes. We need to have pointers to S3 objects in `main`, and `ReleaseOnly` tests need to generate the DB and push it to those S3 objects.

[2018-02-12 10:08] eparejatobes opened #77 "Use db.rnacentral for downloading input"

[2018-02-12 10:09] eparejatobes opened #78 "Upload to S3 as part of release tests"

[2018-02-12 10:11] eparejatobes commented on #76
This closes #72, #73, #74, #75.

[2018-02-12 10:14] eparejatobes opened #79 "Review sequence quality filters"

[2018-02-12 10:15] eparejatobes commented on #76
@agarciamontoro please review

[2018-02-12 10:41] eparejatobes commented on #76
Useless? not conceptually, but the actual code pretty much is. It will stay here of course as part of 1.x releases.

[2018-02-13 14:09] agarciamontoro opened #80 "Update to RNACentral v8"
RNACentral release 8 was [published on December, 2017](http://blog.rnacentral.org/2017/12/rnacentral-release-8.html).

A quick test showed that version 2.0 ---and probably 1.x, although that was not specifically tested--- of `db.rna16s` (#76)  seems to be incompatible with this release, as the output FASTA file is completely empty. We need to study this update carefully .

Related: https://github.

[2018-02-13 15:15] agarciamontoro commented on #79
Quick test with RNACentral v7 as input from the [rewrite](https://github.com/ohnosequences/db.rna16s/tree/rewrite) branch, to check the number of sequences with Ns.

929255 sequences survive before the `qualityOK` filter apply. The current `qualityOK` filter drops 3120 (0.33%) of the sequences that survived all previous filters, while a modified `qualityOK` filter that would reject any sequence wi

[2018-02-13 17:34] rtobes commented on #79
I think that we would have to drop the 53170 sequences with at least one N

[2018-02-19 09:15] agarciamontoro commented on #76
I'd like to have this ready for today/tomorrow. Is there anything important here that is not yet addressed or we can merge it and start coding the tests to upload the DB to S3?

[2018-02-19 09:16] agarciamontoro commented on #79
What do you mean by ambigous chars, @eparejatobes?

[2018-02-20 11:38] agarciamontoro commented on #79
@eparejatobes, take a look at those two commits when you have a minute so we can merge this and start implementing the tests to upload to S3.

[2018-02-20 11:45] eparejatobes commented on #79
LGTM.

[2018-02-20 11:49] agarciamontoro commented on #76
I think we can merge this and implement the tests in another PR. Is it ok, @eparejatobes?

[2018-02-20 11:51] eparejatobes commented on #76
yup

[2018-02-20 11:53] agarciamontoro commented on #72
Closed in https://github.com/ohnosequences/db.rna16s/pull/76.

[2018-02-20 11:53] #72 closed, assigned to eparejatobes

[2018-02-20 11:53] agarciamontoro commented on #73
Closed in https://github.com/ohnosequences/db.rna16s/pull/76.

[2018-02-20 11:53] #73 closed, assigned to eparejatobes

[2018-02-20 11:53] agarciamontoro commented on #74
Closed in https://github.com/ohnosequences/db.rna16s/pull/76.

[2018-02-20 11:53] #74 closed, assigned to eparejatobes

[2018-02-20 11:53] agarciamontoro commented on #75
Closed in https://github.com/ohnosequences/db.rna16s/pull/76.

[2018-02-20 11:53] #75 closed, assigned to eparejatobes

[2018-02-21 16:39] agarciamontoro commented on #78
Closed in https://github.com/ohnosequences/db.rna16s/commit/19448cd0ee22a36e1e9c71f98c31d2f47747a8f4

[2018-02-21 16:39] #78 closed, assigned to nobody

[2018-02-21 16:39] agarciamontoro commented on #77
Closed in https://github.com/ohnosequences/db.rna16s/commit/19448cd0ee22a36e1e9c71f98c31d2f47747a8f4

[2018-02-21 16:39] #77 closed, assigned to nobody

[2018-02-21 17:33] eparejatobes commented on #69
Closing. Any further development will be based in the version without assignments etc

[2018-02-21 17:33] #69 closed, assigned to laughedelic

[2018-02-21 17:33] eparejatobes commented on #68
Closing. Any further development will be based in the version without assignments etc

[2018-02-21 17:33] #68 closed, assigned to laughedelic

[2018-02-21 17:33] eparejatobes commented on #67
Closing. Any further development will be based in the version without assignments etc

[2018-02-21 17:33] #67 closed, assigned to laughedelic

[2018-02-22 08:51] eparejatobes opened #82 "Actually release data for 1.1.0"
1.1.0 was released without modifying the code in 1.1.0-RC1: https://github.com/ohnosequences/db.rna16s/compare/v1.1.0-RC1...v1.1.0, but we didn't run any data generation. We need to copy 1.1.0-RC1 files to the relevant locations (and/or run any data generation, as needed).

[2018-02-22 08:53] agarciamontoro commented on #82
Should I wait for this to be resolved before releasing 2.0.0 from master?

[2018-02-22 08:55] eparejatobes commented on #82
No, we can release 2.0 now.

[2018-02-22 09:01] agarciamontoro opened #83 "Questions before releasing 2.0.0"
* For versions `<= 1.1.0`, the DB lives in `s3://resources.ohnosequences.com/ohnosequences/db-rna16s`. The subdirectory pointed by [`s3Prefix` in master](https://github.com/ohnosequences/db.rna16s/blob/master/src/main/scala/package.scala#L10) is `db/rn16s`, not `db-rna16s`. Is this what we want?
* The [tests in `master`](https://github.com/ohnosequences/db.rna16s/blob/master/src/test/scala/filter.

[2018-02-22 11:27] laughedelic commented on #82
I've copied the data from 1.1.0-RC1 to `s3://resources.ohnosequences.com/ohnosequences/db-rna16s/1.1.0/`

[2018-02-22 11:27] #82 closed, assigned to laughedelic

[2018-02-23 11:41] eparejatobes commented on #83
@agarciamontoro ended up doing a bit of housekeeping here. Your questions are addressed here:

1. the path is fine, ".../db/rna16s/..."
2. fixed that, it goes to sequences now

[2018-02-23 11:55] eparejatobes commented on #34
Done in master.

[2018-02-23 11:55] #34 closed, assigned to laughedelic

[2018-02-23 11:55] eparejatobes commented on #66
Closing as clustering, assignments etc no longer belongs here.

[2018-02-23 11:55] #66 closed, assigned to eparejatobes

[2018-02-23 16:34] eparejatobes commented on #80
Needs ohnosequences/api.rnacentral#8

[2018-03-07 15:56] agarciamontoro opened #85 "[MOVE TO db.rna16s.assignments] Assign a set of taxonomy nodes to each reference (and precompute their LCA)"
Each reference in the DB needs to be assigned to a set of nodes in the taxonomy tree from [ohnosequences/ncbitaxonomy](https://github.com/ohnosequences/ncbitaxonomy) repo. We may also compute the LCA of this set.

We need to:
- [ ] Document how to assign a sequence in the DB to a node in the taxonomy. Where is this information stored? How do we parse it?
- [ ] Document what to do in the cases a re

[2018-03-07 16:16] agarciamontoro opened #86 "Compute which sequences are amplified by which primers"
For each sequence in the DB, we need to know which of the primers can be used to amplify it, so we can optimize the assignment in the near future,

I understand that we only need to align each pair of primers with each sequence and store the exact matches. Is this correct?

[2018-03-07 18:53] rtobes commented on #86
Yes.
One question to consider is the **orientation** of the reference sequences in the database. If all of them are oriented in the same orientation and that orientation is the same that the _E. coli_ reference sequence you would find always the F primer before the R primer. If you do not find the F primer it has not sense to continue searching for the R primer.

If the orientation is not the same

[2018-03-08 10:32] eparejatobes commented on #85
Sure I can do this. This should be moved to a different repo/project though, otherwise we are forced to update the db itself everytime we change/correct assignments.

[2018-03-08 10:33] eparejatobes commented on #85
that was the point of #72 (no description there, my fault)

[2018-03-12 08:37] agarciamontoro commented on #85
Are you ok if I move this to [assignments.rna16s](https://github.com/ohnosequences/assignments.rna16s)?

72 [was closed in #76](https://github.com/ohnosequences/db.rna16s/pull/76#issuecomment-364878744) by error, then? Or did I miss something there that solved this?

[2018-03-12 08:44] eparejatobes commented on #85
#72 is solved inasmuch as assignments are no longer here; we still need to put them elsewhere.

as these assignments will be checked/fixed (clustering, taxonomy tree coherence) I'd rather have a separate repo for them.

[2018-03-12 08:49] agarciamontoro commented on #85
Sure! I'll create a repo later called `db.rna16s.assignments` (someday we should review all names and find a consistent way of generating them :p) and move this issue there.

I'll close this when that repo is ready.

[2018-03-12 10:25] eparejatobes commented on #86
This should be in ohnosequences/primers.16s.

[2018-03-12 10:26] eparejatobes commented on #85
They basically correspond to packages

[2018-03-12 10:33] agarciamontoro commented on #86
Is it there already? https://github.com/ohnosequences/primers.16s/issues/7 If so, then we can close this one.

[2018-03-12 10:41] eparejatobes commented on #86
Yes!

[2018-03-12 10:41] #86 closed, assigned to eparejatobes, rtobes, agarciamontoro

[2018-03-20 16:32] agarciamontoro commented on #85
Closed in favour of https://github.com/ohnosequences/db.rna16s.assignments/issues/2.

[2018-03-20 16:32] #85 closed, assigned to eparejatobes, agarciamontoro

[2018-07-17 09:41] eparejatobes opened #87 "Update to RNACentral v9"

[2018-07-25 15:17] eparejatobes opened #88 "Amplicon regions"
Given a set of left-right primers and read lengths we can extract the corresponding amplicon regions, compute which sequences collapse into one amplicon region, etc. Questions

1. Should all this be part of db.rna16s?
2. If so, how?

[2018-07-25 15:22] eparejatobes opened #89 "Include annotations"
Needs https://github.com/ohnosequences/api.rnacentral/issues/6 and related issues.

[2018-07-25 15:23] eparejatobes commented on #88
We also need to specify how regions are going to be stored, the entries from which they come, etc.

[2018-08-21 12:26] eparejatobes opened #90 "Include SILVA"
Apparently https://www.arb-silva.de/silva-license-information/ SILVA will be open soon. Once this gets into RNACentral we could include SILVA-only sequences and their annotations.

[2018-08-21 12:45] eparejatobes commented on #89
It doesn't strictly need those issues; we can simply drop sequences and the corresponding annotations (SILVA and others which are not open) and use the api.rnacentral code for writing them to a (fasta, csv) pair of files.

[2018-08-21 12:54] eparejatobes opened #92 "Download files from db.rnacentral provided locations"

[2018-08-22 11:10] eparejatobes opened #93 "Improve versioning scheme"
We have

1. the version of this code/artifact: what you need to add to your sbt build def
2. the versions of the 16S database, which should be part of the code as `sealed abstract class Version` etc. This should correspond to the predicate we use for selecting 16S sequences
3. The version of RNACentral data that is used as input

I think in 2. `Version` could have a `Set[RNACentral.Version]` of co

[2018-11-14 16:08] agarciamontoro opened #95 "Replace fastarious with faster"
We should use [faster](https://github.com/ohnosequences/faster) instead of [fastarious](https://github.com/ohnosequences/fastarious). The refactor should not be too difficult.

[2018-11-19 15:57] ncordon commented on #95
I'm moving this to `db.rnacentral`

[2018-11-19 15:57] #95 closed, assigned to agarciamontoro

[2018-11-19 15:59] agarciamontoro commented on #95
Oopsie, yes, we talked about it but completely forgot to do it, thanks!

[2018-11-19 15:59] ncordon commented on #88
I think all the structure of https://github.com/ohnosequences/db.fragments16s covers this

[2018-11-19 15:59] #88 closed, assigned to eparejatobes, rtobes

[2018-11-19 16:00] ncordon commented on #87
Done in #91 by @eparejatobes and @agarciamontoro

[2018-11-19 16:00] #87 closed, assigned to nobody

[2018-11-19 16:01] ncordon commented on #92
Done in #91 by @eparejatobes and @agarciamontoro

[2018-11-19 16:01] #92 closed, assigned to nobody

[2018-11-19 16:02] ncordon commented on #71
This does not apply anymore

[2018-11-19 16:02] #71 closed, assigned to nobody

[2018-11-19 16:02] ncordon commented on #80
Probably done(?) since bump to v9 has already been done in #91

[2018-11-19 16:02] #80 closed, assigned to nobody

[2018-11-19 16:04] ncordon commented on #93
Done in #94

[2018-11-19 16:04] #93 closed, assigned to nobody

[2018-11-20 09:50] eparejatobes opened #96 "Check for PhiX"
In the past I've found phiX fragments assigned as 16S. We could do some semi-manual tests for this first before implementing something.

[2018-11-20 11:36] rtobes commented on #96
Good!

[2018-11-22 09:45] eparejatobes commented on #96
No matches with 20 word size. We could implement the test just in case.

[2018-11-22 16:32] ncordon opened #97 "Parse id mappings"
From https://github.com/ohnosequences/db.rnacentral/issues/54

[code]

[2018-11-27 11:46] ncordon opened #99 "Release 4.0.0"
After addressing #97

[2018-11-28 09:47] ncordon commented on #97
Closed by #98

[2018-11-28 09:47] #97 closed, assigned to ncordon

[2018-12-10 09:22] ncordon commented on #99
Closed by #100

[2018-12-10 09:22] #99 closed, assigned to ncordon

[2018-12-17 10:11] ncordon opened #101 "Sequences with repeated entries"
There are several sequences (42 at most) that have two (or more) entries in the database. We should check that they are the same.

[2018-12-17 16:33] rtobes commented on #101
This is not useful.
We need to know the number of species with sequences assigned to them that we have in the database. We need to avoid repetitions in the taxID but not in the rank. The current data suggests that we have only sequences from 153668 species and I think that it is not the case.

I will talk tomorrow about it and discuss if it is interesting or not to have this stats while we have mu

[2018-12-19 10:19] agarciamontoro commented on #101
Just copying here what we talked in the meeting yesterday: we think this may happen because we assume that all the entries in the mappings file containing information about a specific RNAcentral ID are adjacent. If this does not happen, we will have as many entries in our database as different groups of adjacent entries exist in the mappings file.